@import 'styles/variables.scss';

.radio {
  :global(.adm-radio-icon) {
    width: 18px;
    height: 18px;
    position: relative;

    &::after {
      content: ' ';
      width: 8px;
      height: 8px;
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $jade;
      border-radius: 18px;
      opacity: 0;
      transition: opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    }
  }

  &:global(.adm-radio.adm-radio-checked .adm-radio-icon) {
    background-color: $white;

    .adm-radio .adm-radio-icon > svg {
      display: none;
    }

    &::after {
      opacity: 1;
    }
  }
}
