.tableHeader {
  display: flex;
  overflow: auto;
  padding: 0 20px;
}

.loadGroup {
  display: flex;
  gap: 13px;
  margin-left: auto;
  padding-left: 13px;
}

.rows {
  padding: 0 20px;
  margin-top: 14px;
  width: 100%;
  overflow-y: auto;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 0 20px;
  margin: 36px 0 22px;
}

.pagination {
  padding: 22px 20px 20px 20px;
  border-top: 1px solid rgba(38, 38, 38, 0.08);
}
