.departmentField {
  color: #000;

  &:global {
    &:not(&.ant-select-customize-input) {
      .ant-select-selector {
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        padding: 9px 16px;
      }

      .ant-select-selection-placeholder {
        color: #909090;
      }

      .ant-select-selection-item {
        margin-bottom: 18px !important;
      }
    }
  }
}
