.table {
  margin: var(--margin-large);
  width: calc(100% - 2 * var(--margin-large));

  :global(.ant-table-footer) {
    display: flex;
    justify-content: center;
  }
}

.input {
  &:global(.ant-input-affix-wrapper) {
    border-radius: 8px;
  }
}
