.mapWrapper {
  height: 538px;
  border-radius: 16px;
  overflow: hidden;
}

.legend {
  background: white;
  border-radius: 8px;
  padding: 11px 12px;
  display: flex;
  gap: 24px;

  .legendType {
    display: flex;
    gap: 5px;
    align-items: center;
    color: #262626;
    font-size: 14px;
    font-weight: 500;
  }

  .legendIcon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
}
