.approvedByModal {
  width: 400px !important;

  .approvedByModal_description {
    color: rgb(168, 171, 179);
    font-family: SB Sans Text;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.15px;
    margin-top: 8px;
  }
}
