### Общие настройки
CODEOWNERS.toplevel.auto_unapprove_on_change enable
CODEOWNERS.toplevel.create_pull_request_comment disable
CODEOWNERS.source_branch_exclusion_pattern release/D-*

### Группы пользователей
@@@Developers medvedev.a.dmit@sberbank.ru ADmBlandin@sberbank.ru AAlLadeyshchikov@sberbank.ru

### Владение файлами
**/*.* @@Developers
*.* @@Developers

CODEOWNERS medvedev.a.dmit@sberbank.ru

### Необходимые проверки
AllGroupsCheck(1)