.text {
    all: unset;

    font-family: 'SB Sans Text';
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -0.3px;
    text-align: justify;
    color: #0091FF;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}


