.form {
  display: flex;
  flex-direction: column;

  .header {
    font-family: 'SB Sans Text';
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.3px;
    color: #000000;
    margin-bottom: 16px;

    &:not(:first-child) {
      padding-top: 16px;
      border-top: 1px solid rgba(38, 38, 38, 0.08);
    }
  }

  .button {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  :global(.ant-input-affix-wrapper) {
    border-radius: 8px;
  }

  .formItem {
    display: flex;
    flex-direction: column;

    :global {
      .ant-form-item-control {
        min-height: fit-content;
      }

      .ant-form-item-label {
        text-align: left;
        width: 100%;

        label {
          width: 100%;
          height: auto;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.2px;
          color: var(--dark-grey);
          margin-bottom: 8px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;

          &::after {
            content: '';
          }
        }
      }
    }

    .input {
      height: 48px;
      border-radius: 8px;
      width: 100%;
      display: flex;
      align-items: center;

      :global {
        .ant-input {
          font-family: 'SB Sans Text';
          font-size: 14px;
          letter-spacing: -0.3px;
          padding: 4px 35px 4px 11px;
        }

        .ant-input-number-input-wrap {
          width: 100%;
        }
      }
    }

    :global(.ant-picker) {
      height: 48px;
    }
  }

  .commentRow {
    margin-bottom: 52px;
  }
}
