button.button {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 34px;
  color: #fff;
  flex-shrink: 0;
  padding: 5px 16px;
  border-radius: 8px;
}

.warning {
  color: red;
  text-align: center;
}