@font-face {
  font-family: 'SB Sans Interface Light';
  src: url(../styles/fonts/SBSansUI-Light.otf);
  font-weight: 200;
}

@font-face {
  font-family: 'SB Sans Interface';
  src: url(../styles/fonts/SBSansUI-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: 'SB Sans Interface SemiBold';
  src: url(../styles/fonts/SBSansUI-Semibold.otf);
  font-weight: 600;
}

@font-face {
  font-family: 'SB Sans Interface Bold';
  src: url(../styles/fonts/SBSansUI-Bold.otf);
  font-weight: 800;
}

/* @font-face {
  font-family: 'SB Sans Text Mono';
  src: url(../styles/fonts/SBSansTextMono-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'SB Sans Text Mono';
  src: url(../styles/fonts/SBSansTextMono-Bold.ttf);
  font-weight: 800;
} */

@font-face {
  font-family: 'SB Sans Text Light';
  src: url(../styles/fonts/SBSansText-Light.otf);
  font-weight: 200;
}

@font-face {
  font-family: 'SB Sans Text';
  src: url(../styles/fonts/SBSansText-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: 'SB Sans Text Bold';
  src: url(fonts/SBSansText-Bold.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SB Sans Text SemiBold';
  src: url(../styles/fonts/SBSansText-Semibold.otf);
  font-weight: 500;
}
