.DropdownSideMenu {
    left: 69px !important;

    .ant-dropdown-menu {
        padding: 8px 16px !important;
        border-radius: 8px !important;

        .ant-dropdown-menu-item {
            padding: 5px 5px !important;
        }
    }
}

.DropdownMenuProfile {
    left: 16px !important;

    .ant-dropdown-menu {
        padding: 8px 16px !important;
        border-radius: 8px !important;

        .ant-dropdown-menu-item {
            padding: 5px 5px !important;
        }
    }
}

.QuickOrderWidget_customDropdown {
    width: 185px !important;
    min-width: 185px !important;

    @media screen and (max-width: 600px) {
        left: 170px !important;
    }
}