.wrapperBudget {
  box-sizing: border-box;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 10px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 450px;

  .header {

    .header_title {
      display: flex;
      align-items: center;

      img {
        margin: 2px 0 0 6px;
        cursor: pointer;
      }

      & > p:first-child {
        color: rgb(0, 0, 0);
        font-family: SB Sans Interface;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0%;
        margin: 0;
      }
    }

    & > p {
      color: rgb(115, 115, 115);
      font-family: SB Sans Interface;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0.2px;
      margin: 8px 0 0 0;
    }
  }

  .main {
    display: flex;
    margin-top: 24px;

    :global(.ant-progress-inner) {
      width: 152px !important;
      height: 152px !important;

      svg {

        & > path:first-child {
          stroke: rgb(255, 201, 20);
          stroke-width: 4.6px;
          stroke-linecap: unset;
        }

        & > path:nth-child(2) {
          stroke: rgb(16, 191, 106) !important;
          stroke-width: 5px;
          stroke-linecap: unset;
        }
      }
    }

    .chart {

      .chartCircle {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100px;

        .numberAll {
          color: rgb(0, 0, 0);
          font-family: SB Sans Interface;
          font-size: 20px;
          font-weight: 600;
          line-height: 28px;
          letter-spacing: 0px;
          margin: 0;
        }

        .notAll {
          color: rgb(173, 173, 173);
          font-family: SB Sans Text;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: -0.3px;
          margin: 0;
        }

        .allCount {
          color: rgb(115, 115, 115);
          font-family: SB Sans Text;
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: -0.3px;
          margin: 0;
        }
      }
    }

    .detailedInformation {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-left: 16px;
      justify-content: center;

      .activeMarker {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-radius: 8px;
        background: rgba(103, 210, 52, 0.1);
        padding: 4px 8px 4px 8px;
        margin-bottom: 8px;

        & > div:first-child {
          display: flex;
          align-items: center;

          div {
            border-radius: 2px;
            background: rgb(103, 210, 52);
            width: 12px;
            height: 12px;
            margin-right: 8px;
          }

          p {
            color: rgb(38, 38, 38);
            font-family: SB Sans Text;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: -0.3px;
          }
        }

        & > div:last-child {
          display: flex;
          align-items: center;

          & > p {
            color: rgb(38, 38, 38);
            font-family: SB Sans Text;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: -0.3px;
          }
        }
      }

      .workingMarker {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-radius: 8px;
        background: rgb(242, 242, 242);
        padding: 4px 8px 4px 8px;
        margin-bottom: 8px;

        & > div:first-child {
          display: flex;
          align-items: center;

          div {
            border-radius: 2px;
            background: rgb(224, 224, 224);
            width: 12px;
            height: 12px;
            margin-right: 8px;
          }

          p {
            color: rgb(38, 38, 38);
            font-family: SB Sans Text;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: -0.3px;
          }
        }

        & > div:last-child {
          display: flex;
          align-items: center;

          & > p {
            color: rgb(38, 38, 38);
            font-family: SB Sans Text;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: -0.3px;
          }
        }
      }

      .reservedMarker {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-radius: 8px;
        background: rgba(255, 154, 50, 0.1);
        padding: 4px 8px 4px 8px;
        margin-bottom: 8px;

        & > div:first-child {
          display: flex;
          align-items: center;

          div {
            border-radius: 2px;
            background: rgb(255, 154, 50);
            width: 12px;
            height: 12px;
            margin-right: 8px;
          }

          p {
            color: rgb(38, 38, 38);
            font-family: SB Sans Text;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: -0.3px;
          }
        }

        & > div:last-child {
          display: flex;
          align-items: center;

          & > p {
            color: rgb(38, 38, 38);
            font-family: SB Sans Text;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: -0.3px;
          }
        }
      }

      p {
        margin: 0;
      }
    }
  }
}
