.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 310px;
  overflow: auto;
  padding-right: 3px;
  margin-right: -14px;

  &::-webkit-scrollbar {
    width: 11px;
  }

  .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    background-color: white;

    &__content {
      height: auto;
      display: flex;
      align-items: center;
      gap: 24px;
      color: rgb(115, 115, 115);
      font-size: 12px;
      letter-spacing: -0.3px;

      .vehicle {
        margin-left: 98px;
        width: 11.6vw;
      }

      .engine {
        width: 14.6vw;
      }

      .fuel {
        width: 11.2vw;
      }

      .mudguards {
        width: 5.5vw;
      }

      .holder {
        width: 5.4vw;
      }

      .drive {
        width: 8vw;
      }

      .manufacturePeriod {
        width: 7vw;
      }

      .transmissionType {
        width: 6vw;
      }

      .bodyType {
        width: 7vw;
      }

      .weight {
        width: 6vw;
      }

      .dimensions {
        width: 8vw;
      }
    }
  }

  :global(.ant-empty) {
    margin-top: 40px;
  }
}
