.table {
  width: calc(100% - 2 * var(--margin-large));

  a {
    font-size: calc(var(--font-size-base) * 1.3);
  }
}

.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 10px;
  margin-right: 10px;
}

.checkbox {
  padding-right: 5px;
}

.dataRange,
.numberRange {
  :global(.ant-input-group) {
    display: flex;

    & > div {
      flex: 1;
    }
    & > .dash {
      padding: 0 10px;
    }
  }
  :global(.ant-input-number),
  :global(.ant-picker) {
    width: 100%;
  }
  label:after {
    content: none;
  }
}
