.cargoMainInnerContent {
  background: var(--pure-white);
  border-radius: 8px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.12), 0 3px 10px -4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 16px;
}

.cargoListWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 32px;
}

.cargosHeaderBlock {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 18px;
}

.cargosHeaderText {
  display: flex;
  font-family: 'SB Sans Interface', serif, sans-serif;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.cargosHeaderCount {
  font-family: 'SB Sans Interface', serif, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #c2c2c2;
  margin-left: 8px;
}
