### Общие настройки
CODEOWNERS.toplevel.auto_unapprove_on_change enable
CODEOWNERS.toplevel.create_pull_request_comment disable
CODEOWNERS.source_branch_exclusion_pattern release/D-*

### Группы пользователей
@@@Developers AENikandrov@sberbank.ru MVySmirnova@sberbank.ru NVMabatov@sberbank.ru Belov.A.Vikt@sberbank.ru

### Владение файлами
**/*.* @@Developers
*.* @@Developers

CODEOWNERS AENikandrov@sberbank.ru MVySmirnova@sberbank.ru NVMabatov@sberbank.ru Belov.A.Vikt@sberbank.ru

### Необходимые проверки
AllGroupsCheck(1)