.infoBottom {
  margin-bottom: 1%;
}

.boldText {
  font-weight: 900;
}

.mgTop {
  margin-top: 5%;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.alignCenter {
  text-align: center;
}

.moneyInfo {
  display: inline;
  width: 30%;
}
