.filterPanel3Columns {
  width: calc(100% - 2 * var(--margin-large));
  margin: var(--margin-large);
  padding: var(--padding-base);
  border: 1px solid var(--text-color-minor);
  border-radius: var(--border-radius-base);
  box-shadow: 0 0 10px -3px var(--card-shadow);

  form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
    justify-items: center;
    column-gap: var(--margin-large);

    :global(.ant-row) {
      display: flex;
      flex-wrap: wrap;
      max-width: 480px;
      width: 100%;
    }

    .buttonBar {
      grid-column: span 3;
      display: flex;
      justify-content: center;
      align-items: center;

      & > * {
        margin-right: var(--margin-base);
      }
    }
  }

  @media screen and (max-width: 1400px) {
    form {
      grid-template-columns: 1fr 1fr;

      .buttonBar {
        grid-column: span 2;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    form {
      grid-template-columns: 1fr;

      .buttonBar {
        grid-column: span 1;
      }
    }
  }

  @media screen and (max-width: 900px) {
    form {
      grid-template-columns: 1fr;

      .buttonBar {
        grid-column: 1;
      }
    }
  }
}
