.pageWrapper {
  padding: 0 8px;
  margin-bottom: 8px;

  @media (min-width: 501px) {
    margin-top: 16px;
    padding: 0 16px 0 0;
  }
}

.content {
  width: 100%;

  .list {
    margin-top: 16px;

    @media (min-width: 501px) {
      margin-top: 24px;
    }

    :global(.ant-spin-nested-loading) {
      min-height: 250px;
      overflow: auto;
    }
  }

  :global {
    .ant-tabs-tab {
      padding: 8px 0;

      &-btn {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        font-family: SB Sans Interface;
        color: #a8abb3;

        &:hover {
          color: currentColor;
        }
      }

      &:hover {
        color: currentColor;
      }
    }

    .ant-list-items {
      display: flex;
      flex-direction: column;
      gap: 8px;

      @media (min-width: 501px) {
        gap: 16px;
      }
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: var(--black-alpha);

      &:hover {
        color: currentColor;
      }
    }

    .ant-tabs-top > .ant-tabs-nav::before,
    .ant-tabs-ink-bar {
      display: none;
    }
  }
}

.pagination {
  margin: 30px 0 0;

  @media (max-width: 500px) {
    margin: 16px 0 0;

    > div:first-child {
      margin-right: 10px;
      padding: 0 8px;
    }
  }

  @media (max-width: 400px) {
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;

    > div:first-child {
      height: 32px;
    }
  }
}
