.ant-select-selector:after {
    content: url(../../../../../shared/components/Images/Filter2.png) !important;
    width: 10px;
    height: 10px;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    margin: 0px 12px 0px 0px !important;
  }