.modal {
  :global(.adm-modal-body) {
    padding: 0;
    border-radius: 10px;
  }

  :global(.adm-modal-title) {
    font-family: 'SB Sans Text';
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    white-space: pre-line;
    margin: 0;
    padding: 20px 16px 0;
  }

  :global(.adm-center-popup-wrap) {
    width: 100%;
    max-width: calc(100% - 46px);
  }

  :global(.adm-modal-content) {
    padding: 20px 16px;
  }

  :global(.adm-modal-footer-empty) {
    height: 0;
  }
}
