.container {
  margin-top: 16px;

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  }

  &__divider {
    margin: 16px 0;
    color: #26262614;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 32px;

    >* {
      flex: 1 1 100px;
    }

    .field {
      width: 100%;
    }
  }
}
