.modal {
  :global {
    .ant-modal-header {
      padding: 24px 20px 8px 24px;
      border: none;

      .ant-modal-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
      }
    }
  }

  .steps {
    &__entry {
      :global {
        .ant-steps-item-container {
          .ant-steps-item-tail.ant-steps-item-tail {
            left: 9px;
            top: 21px;
            width: 2px;
            padding: 0;

            &::after {
              width: 2px;
              height: calc(100% - 18px);
            }
          }

          .ant-steps-item-icon {
            width: 20px;
            margin-right: 12px;

            .ant-steps-icon {
              line-height: 22px;
              left: 0;
            }
          }
        }

        .ant-steps-item-title {
          width: 100%;
          padding: 0;
        }
      }

      .stepTitle {
        display: flex;
        justify-content: space-between;
        font-family: SB Sans Text;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.3px;
        font-weight: 400;

        &__status {
          color: #262626;

          &_current {
            font-weight: 600;
          }
        }

        &__date {
          color: #909090;
        }
      }

      .cancelDescription {
        color: #4d4d4d;
      }

      &_toProcess {
        :global(.ant-steps-item-tail::after) {
          background-image: linear-gradient(183deg, rgb(25, 177, 80) 0%, rgb(255, 154, 50) 100%);
        }
      }

      &_start {
        :global(.ant-steps-item-container .ant-steps-item-tail::after) {
          background-image: linear-gradient(183deg, rgb(255, 154, 50) 0%, rgb(214, 214, 214) 60%);
        }
      }

      &_beforeFinished {
        :global {
          .ant-steps-item-icon {
            border: none;
            margin-top: -8px;

            .ant-steps-finish-icon {
              width: 10px;
              height: 10px;
              border-radius: 10px;
              background-color: #10bf6a;

              svg {
                display: none;
              }
            }
          }

          .ant-steps-item-container .ant-steps-item-tail {
            z-index: 10;
            top: 6px !important;

            &::after {
              height: 100% !important;
            }
          }
        }
      }

      &_beforeCanceled {
        :global {
          .ant-steps-item-icon {
            border: none;
            margin-top: -8px;

            .ant-steps-error-icon {
              width: 10px;
              height: 10px;
              border-radius: 10px;
              background-color: #ff4d4f;

              svg {
                display: none;
              }
            }
          }

          .ant-steps-item-container .ant-steps-item-tail {
            z-index: 10;
            top: 6px !important;

            &::after {
              height: 100% !important;
            }
          }
        }
      }
    }

    :global {
      .ant-steps-item-process .ant-steps-item-tail::after {
        background-image: linear-gradient(183deg, rgb(255, 154, 50) 0%, rgb(214, 214, 214) 100%);
      }

      .ant-steps-item-wait .ant-steps-item-tail::after {
        background-color: #D6D6D6;
      }

      .ant-steps-item-error .ant-steps-item-tail::after {
        background-color: #ff4d4f;
      }
    }
  }
}
