.input {
  margin-right: 10px;
  height: fit-content;
  width: 70px;
}

.radioGroup {
  display: flex;
  gap: 16px;
}

.flexRow {
  display: flex;
  align-items: center;
}

.formItem {
  margin-bottom: 0;
}
