.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  background-color: #FF5743;
  color: white;
  border-radius: 50%;
  text-align: center;
}