.detailedView {
  min-width: 900px;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 44px;

    &__title {
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 24px;
      color: #000000;

      :global {
        .anticon-arrow-left {
          margin-right: 18px;
        }
      }
    }
  }

  .tablesWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
  }

  .tablesColumn {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .table {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__title {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      padding: 10px 0px;
    }

    &__rows {
      width: 100%;
    }
  }

  .tableRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 0px;
    border-bottom: 1px solid rgb(224, 224, 224);

    &__title {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #909090;
    }

    &__label {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #262626;
    }
  }
}

.iconTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding: 10px 0px;
}

.pdfIcon {
 font-size: 48px;
 color: red;
}

.viewIcon {
  font-size: 48px;
 }

.download {
  border-radius: 8px;
  background-color: #efefef;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  width: 360px;
  padding: 6px;

  &:hover {
    cursor: pointer;
   }

  .name {
    font-weight: 400;
  }
}

.pdf {
  max-width: 700px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
