.list {
  margin-bottom: var(--margin-large);

  &Header {
    color: var(--text-color-secondary);
    font-size: calc(var(--font-size-base) * 1.3);
    font-weight: 400;
  }

  &ItemSpan {
    // 45px - включает размер иконки удаления и отступ от него
    max-width: calc(100% - 45px);

    b {
      overflow-wrap: break-word;
    }
  }
}
