.tabs {
  :global(.ant-tabs-tab-btn) {
    font-size: 20px;
    font-weight: 600;
    border-bottom: none;
    color: #000;
  }

  :global(.ant-tabs-ink-bar) {
    height: 0 !important;
  }

  :global(.ant-tabs-tab) {
    color: #000;
    opacity: 0.2;

    :global(.ant-tabs-tab-active .ant-tabs-tab-btn) {
      color: #000;
    }
  }

  :global(.ant-tabs-tab-active) {
    opacity: 1;
    color: #000;
  }

  :global(.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn) {
    color: #000;
  }

  :global(.ant-tabs-tab):hover {
    color: #000;
  }
}
