.container {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: SB Sans Text;
  font-size: 10px;
  line-height: 22px;
  letter-spacing: -0.3px;
  color: var(--pale-grey);

  button {
    width: 16px;
    height: 16px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;

    &:hover svg path {
      stroke: var(--dark-grey);
    }
  }
}
