.filters {
  white-space: nowrap;
  display: inline-block;
  overflow-x: auto;
  overflow-y: hidden;

  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: var(--padding-half);
}

.wrapper {
  padding: 16px 16px 0px 16px;
}
