.header {
  margin-top: 32px;
  width: calc(100% - 16px);
  position: fixed;
  z-index: 1100;

  &__client {
    margin: 0 0 var(--indent-large);
    @link-color: white;
    padding: 10px 11px 12px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
  }
}
