.detailedItem {
  flex: 1 1;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.3px;
  color: var(--dark-grey);
  max-width: 340px;

  .title {
    font-family: 'SB Sans Interface', sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: var(--pale-grey);
  }

  .body {
    font-family: 'SB Sans Text', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: -0.3px;
    color: #000000;
    margin-top: 6px;
  }
}
