.limitsContainer { 
    max-width: 400px;
    
    :global { 
        .ant-progress-inner, .ant-progress-bg { 
            max-height: 4px;
        }
    }
}

.limitsHeader { 
    display: flex;
    align-items: center;
    justify-content: space-between;

    &Title {
        font-weight: 600;
        font-size: 16px;
    }

    &Cost { 
        font-size: 24px;
        font-weight: 600;
        margin-left: 16px;
    }
}

.limitsFooter { 
    color: rgb(144, 144, 144);
    font-size: 12px;
}