.EmployeeBaseAutoComplete {
  
  .ant-select-selector {
    border: 1px solid rgb(224, 224, 224) !important;
    border-radius: 8px !important;
    height: 48px !important;
  }

  .ant-select-selection-search {
    height: 48px !important;
  }

  .ant-select-selection-search-input {
    height: 48px !important;
  }

  .ant-select-selection-item {
    height: 48px !important;
    line-height: 48px !important;
    margin: 0 0 0 5px !important;
    padding-right: 50px !important;
    font-family: SB Sans Text !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    letter-spacing: -0.3px !important;
  }

  .ant-select-arrow {
    border-left: 1px solid #E0E0E0;
    border-radius: 1px;
    width: 1px;
    height: 23px;
    margin: -10px 48px -20px -50px;
  }

  .ant-select-clear {
    right: 23px !important;
  }

  .ant-select-selection-placeholder {
    height: 48px !important;
    line-height: 48px !important;
    margin: 0 0 0 5px !important;
    padding-right: 50px !important;
    font-family: SB Sans Text !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    letter-spacing: -0.3px !important;
  }

  .ant-select-selection-search-input {
    padding: 0 0 0 5px !important;
  }
}