.addButton {
  border: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
  font-family: 'SB Sans Text', sans-serif;
}
