.icon {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  display: flex !important;
  align-items: center;

  &.icon_rotate90 {
    transform: rotate(90deg);
  }
  &.icon_rotate180 {
    transform: rotate(180deg);
  }

  svg {
    width: 100%;
    height: auto;
  }
}
