.modal {
    width: auto !important;

    :global(.ant-modal-content) {
        box-shadow:
            0px 12px 24px -6px rgba(0, 0, 0, 0.12),
            0px 0px 1px 0px rgba(0, 0, 0, 0.12);
        border: 1px solid rgb(242, 243, 246);

        @media (min-width: 501px) {
            width: 400px;
        }
    }

    :global(.ant-modal-close) {
        display: block !important;
    }

    :global(.ant-modal-header) {
        padding: 20px 24px 0;
        border-bottom: none;
    }

    :global(.ant-modal-close) {
        top: 12px;
        right: 12px;

        span {
            width: 24px;
            height: 24px;
            line-height: 24px;
        }
    }

    :global(.ant-modal-footer) {
        height: auto;
        padding: 0 24px 24px;
        margin-top: 24px;
        border-top: none;

        button {
            height: 40px;
            font-family: "SB Sans Text", sans-serif;
            font-weight: 600;
            color: var(--black-text);
            padding: 9px 20px;
        }

        :global(.ant-btn-dangerous) {
            background-color: #ff5743;
            color: var(--pure-white);
            border: none;
            margin-left: 16px !important;
        }
    }

    :global(.ant-modal-title) {
        font-size: 20px !important;
        font-weight: 600;
        line-height: 28px;
        font-family: "SB Sans Interface", sans-serif;
        color: var(--black-text);
    }

    :global(.ant-modal-body) {
        padding: 0 24px;
        margin-top: 8px;

        p {
            font-family: "SB Sans Text", sans-serif;
            font-size: 14px !important;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: -0.3px;
            color: var(--black-text);
            margin: 0;
        }
    }
}
