.ordersStatus {
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 4px 16px;
  letter-spacing: -0.3px;
  color: #ffffff;
}
