.wrapper_switch {
    display: flex;
    justify-content: space-between;

    .title {
        color: rgb(38, 38, 38);
        font-family: SB Sans Text;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.3px;
    }
}

.wrapper_clientInfo {
    margin-top: 18px;

    .telephone_title {
        margin: 5px 0px 0px 0px !important;
    }
}