.reloadTripModal {
  width: 735px !important;

  .reloadTripModal_wrapper__buttonn {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;

    @media screen and (max-width: 600px) {
      flex-direction: column;
      gap: 8px;
    }

    .reloadTripModal_button {
      display: flex;
      border-radius: 8px;
      background: rgb(16, 191, 106);
      padding: 9px 20px 9px 20px;
      width: 330px;
      justify-content: center;
      align-items: center;
      color: rgb(255, 255, 255);
      font-family: SB Sans Text;
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: -0.3px;
      cursor: pointer;

      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }
}
