.icon {
  width: 24px;
  padding: 0 !important;
  background: transparent;
  border: none;

  &:hover,
  &:focus,
  &:active {
    background: transparent;
  }

  &::after {
    display: none;
  }

  &.bordered {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--solitude);
    border-radius: 8px;

    svg path {
      fill: var(--pale-grey);
    }
  }
}

.modal {
  width: 560px !important;
  max-width: 100%;
  border-radius: 12px;
  overflow: hidden;

  :global(.ant-modal-close-x) {
    display: flex;
    justify-content: center;

    .modalIcon {
      width: 24px;
      margin-top: 4px;
    }
  }

  :global(.ant-modal-content) {
    border-radius: 12px;
  }

  :global(.ant-modal-header) {
    padding: 24px 24px 12px;
    border: none;
  }

  :global(.ant-modal-title) {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: var(--dark-grey);
  }

  :global(.ant-modal-body) {
    padding-top: 0;
    padding-bottom: 12px;
  }

  .subtitle {
    max-width: 420px;
    margin-bottom: 20px;
    font-family: SB Sans Text;
    letter-spacing: -0.3px;
    color: #737373;
  }

  :global(.ant-modal-footer) {
    padding: 24px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  :global(.ant-btn) {
    border-radius: 8px;
    padding: 0 20px;
    height: 40px;
    font-family: SB Sans Text;
    font-weight: 600;
  }

  :global(.ant-btn-text) {
    color: var(--dark-grey);
  }

  .list {
    margin-top: 20px;

    .item {
      user-select: none;
      height: 42px;
      display: flex;
      align-items: center;
      border: 1px solid rgba(38, 38, 38, 0.08);
      border-radius: 8px;
      padding: 8px 8px 8px 12px;
      margin-top: 8px;
    }

    .isDragging {
      box-shadow:
        0px 12px 24px -6px rgba(0, 0, 0, 0.12),
        0px 0px 1px 0px rgba(0, 0, 0, 0.12);
    }

    :global(.ant-checkbox + span) {
      font-family: SB Sans Text;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: -0.3px;
      color: var(--dark-grey);
      padding-right: 0;
      padding-left: 8px;
    }

    :global(.ant-checkbox-inner) {
      width: 18px;
      height: 18px;
      border-radius: 4px;
    }

    .dragIcon {
      margin-left: auto;
    }
  }
}
