.formItem {
  flex-direction: column !important;
  margin-bottom: 0 !important;
  :global {
    .ant-form-item-label {
      label {
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        letter-spacing: 0.2px;
        color: #262626;

        height: 16px;
        margin-bottom: 8px;
      }
    }
    .ant-form-item-label {
      align-self: flex-start;
    }
    .ant-col ant-form-item-control {
      min-width: 312px !important;
    }
  }
}