.detailedView {
  min-width: 900px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 44px;

    &__title {
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 24px;
      color: #000000;

      :global {
        .anticon-arrow-left {
          margin-right: 18px;
        }
      }
    }
  }

  .tablesColumn {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .tablesColumn_wrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  .table {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 512px;

    &__title {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      padding: 10px 0px;
    }

    &__rows {
      width: 100%;
    }
  }

  .tableRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px;
    border-bottom: 1px solid rgb(224, 224, 224);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    &__title {
      color: #909090;
    }

    &__label {
      color: #262626;
    }

    &__link {
      color: var(--dodger-blue);
    }
  }
}
