.container {
  position: relative;

  .userBlock {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
  }

  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
  }
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 16px;

  .img {
    width: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}