button.buttonSort {
  font-family: 'SB Sans Text', sans-serif;
  color: #262626;
  height: 20px;
  padding: 0;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  border: none;
  box-shadow: none;

  span {
    color: inherit;
  }
}
