registry "https://nexus-ci.delta.sbrf.ru/repository/npm-all/"
@sber-sbertransport:registry "https://nexus-ci.delta.sbrf.ru/repository/npm-release/"
always-auth true
strict-ssl false
version-tag-prefix "v"
version-git-message "%s"
