.approvalItemContainer {
  flex-flow: column  nowrap;
  align-items: flex-start !important;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 4px 20px 0 rgba(0, 0, 0, 0.08);
  position: relative;

  :global {
    .ant-divider {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.topSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.approvalItem {
  cursor: pointer;
  background-color: white;
  padding: 16px 0 20px;
  border-radius: 12px;
  z-index: 2;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 24px;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  &Title {
    font-size: 16px;
    font-weight: 600;
  }

  &Subtitle {
    font-size: 12px;
    font-weight: 400;
    border-radius: 20px;
    border: 1px solid rgba(38, 38, 38, 0.08);
    padding: 4px 12px;
  }

  &Main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 11px;
  }

  &TimeInfo {
    display: flex;
    gap: 6px;
    flex-direction: column;
    align-items: flex-end;

    @media screen and (max-width: 600px) {
      align-items: flex-start;
    }
  }

  &TimeStatus {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
    gap: 2px;
    color: rgb(115, 115, 115);
    font-size: 14px;
    letter-spacing: -0.3px;

    @media screen and (max-width: 600px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &ApprovalStatus {
    background-color: rgb(255, 245, 235);
    color: rgb(255, 154, 50);
    font-size: 10px;
    padding: 2px 8px;
  }
}

.actionButton {
  background-color: rgb(242, 243, 246);
  border-color: rgb(242, 243, 246);
  color: black;
  border-radius: 8px;
  padding: 9px 20px;
  height: auto;
  line-height: 22px;
  font-weight: 600;
  font-size: 14px;
}

.transportInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mainContainer {
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .costWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;

    @media screen and (max-width: 600px) {
      align-items: flex-start;
    }

    .withWarning {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 12px;
    }

    &Title {
      color: rgb(144, 144, 144);
    }

    &Price {
      font-size: 24px;
      line-height: 17px;
      font-weight: 700;
    }
  }

  .passengerWrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: flex-start;
    align-items: center;

    .passengerName {
      color: #000;
      font-family: SB Sans Text;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
    }

    .passengerAvatar {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #F2F3F6;
    }
  }
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 24px;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .routeMap {
    margin-top: 0;
  }
}

.coopTripTitle {
  margin-top: 8px;
  font-size: 14px;
  color: rgb(144, 144, 144);
}

.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  @media screen and (max-width: 600px) {
    width: 100%;
    justify-content: center;
  }
}

.approveButton {
  background-color: rgb(16, 191, 106);
  color: white;
}

.transportTypeWrapper {
  display: flex;
  align-items: center;

  .transportTypeBlock {
    display: flex;
    align-items: center;
    gap: 8px;

    &Title {
      font-weight: 600;
      line-height: 18px;
      font-size: 14px;
      letter-spacing: 0.12px;
    }

    &ClassBadge {
      color: rgb(144, 144, 144);
    }
  }

  .transportIcon {
    width: 32px;
    height: 32px;
    margin-right: 12px;
  }
}

.fraudWrapper { 
  border: 1px solid rgb(255, 87, 67);
  border-radius: 12px;
}

.fraudContainer { 
  padding: 8px 16px 20px 24px;
  font-weight: 600;
  font-size: 14px;
  background-color: rgb(255, 238, 236);
  z-index: 1;
  margin-bottom: -12px;
  border-radius: 12px;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 5px;

  svg { 
    path { 
        fill: rgb(255, 87, 67);
    }
  }
}

.extraText { 
  color: rgb(255, 87, 67);
  font-size: 14px;
  font-weight: 400;
  padding-left: 16px;
  cursor: pointer;
}