.button {
  text-align: left !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdownDiv {
  justify-content: flex-end;
  padding-right: 0;
  align-content: center;
}

.dropdownButton {
  font-family: 'SB Sans Text', serif, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #262626;
}
