.collapseStyles {
  padding: 9px 14px;
  margin-bottom: 12px;
  width: 100%;
  border-radius: 12px !important;
  background-color: white !important;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.12), 0 8px 16px -4px rgba(0, 0, 0, 0.12) !important;
  overflow: auto;
  border: none !important;

  :global(.ant-collapse-content-box) {
    border: none !important;
  }
}
