.cardWrapper {

  .ant-select {
    height: 48px !important;
  }

  .ant-select-selection-search {
    right: 1px !important;
    left: 1px !important;
    height: 48px !important;

    input {
      border: 1px solid #e0e0e0 !important;
      box-sizing: border-box;
      border-radius: 8px;
      height: 48px !important;
      font-family: SB Sans Text;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: -0.3px;
      color: #262626;
      width: 100% !important;
      padding: 10px 18px !important;
      
      &:focus {
        border-color: #31cc7c !important;
        box-shadow: 0 0 0 2px rgba(16, 191, 106, 0.2) !important;
      }

      &:hover {
        border-color: #31cc7c !important;
        box-shadow: 0 0 0 2px rgba(16, 191, 106, 0.2) !important;
      }
    }
  }

  .ant-select-selector {
    width: 100%;
    border: none !important;
    height: 48px !important;
    padding: 10px 18px !important;
    box-shadow: none !important;
  }

  .phoneTitle {
    color: rgb(38, 38, 38);
    font-family: SB Sans Interface;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.2px;
    display: block;
    padding-bottom: 8px;
    margin-bottom: 0;
  }

  input {
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 8px;
    height: 48px;
    font-family: SB Sans Text;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.3px;
    color: #262626;
    width: 100%;
    padding: 13px 16px;
  }

  .saveButton {
    display: flex;
    justify-content: end;
    margin: 36px 0 0;

    button {
      display: flex;
      align-items: center;
      border-radius: 8px;
      background: rgb(16, 191, 106);
    }
  }

  .header {
    display: flex;
    justify-content: space-between;

    .numberApplication {
      color: rgb(38, 38, 38);
      font-family: "SB Sans Interface";
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 0px;
    }

    .cancel {
      background-color: rgb(242, 243, 246);
      width: 24px;
      border-radius: 50%;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }

  .main {

    .informationDate {
      color: rgb(0, 0, 0);
      font-family: "SB Sans Text";
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: -0.15px;
      margin-top: 24px;
    }

    .informationRout {
      margin-top: 24px;
      padding: 12px;
      border-radius: 12px;
      background: rgb(242, 243, 246);

      .informationRoutTitle {
        color: rgb(0, 0, 0);
        font-family: "SB Sans Text";
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: -0.15px;
      }

      .informationRoutMain {
        display: flex;
        flex-direction: row;
        margin-top: 12px;

        .informationRoutImg {
          margin-right: 8px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 10px 0px;

          .informationRoutImgStart {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: rgb(25, 177, 80);
            display: flex;
            justify-content: center;
            align-items: center;

            span {
              color: rgb(255, 255, 255);
              font-family: "SB Sans Text";
              font-size: 10px;
              font-weight: 700;
              line-height: 13px;
              letter-spacing: 0px;
              margin-left: 1px;
            }
          }

          .informationRoutImgLine {
            height: 25px;
            width: 3px;
            background-color: rgb(25, 177, 80);
          }
          
          .informationRoutImgEnd {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: rgb(105, 121, 247);
            display: flex;
            justify-content: center;
            align-items: center;

            span {
              color: rgb(255, 255, 255);
              font-family: "SB Sans Text";
              font-size: 10px;
              font-weight: 700;
              line-height: 13px;
              letter-spacing: 0px;
              margin-left: 1px;
            }
          }
        }

        .informationRoutPath {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .informationRoutStart {
            display: flex;
            flex-direction: column;

            & span:first-child {
              color: rgb(168, 171, 179);
              font-family: "SB Sans Text";
              font-size: 12px;
              font-weight: 400;
              line-height: 15px;
              letter-spacing: 0px;
            }

            & span:last-child {
              color: rgb(0, 0, 0);
              font-family: "SB Sans Text";
              font-size: 14px;
              font-weight: 400;
              line-height: 18px;
              letter-spacing: -0.15px;
            }
          }

          .informationRoutEnd {
            display: flex;
            flex-direction: column;

            & span:first-child {
              color: rgb(168, 171, 179);
              font-family: "SB Sans Text";
              font-size: 12px;
              font-weight: 400;
              line-height: 15px;
              letter-spacing: 0px;
            }

            & span:last-child {
              color: rgb(0, 0, 0);
              font-family: "SB Sans Text";
              font-size: 14px;
              font-weight: 400;
              line-height: 18px;
              letter-spacing: -0.15px;
            }
          }
        }
      }
    }

    .informationCar {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .informationCarTitle { 
        color: rgb(33, 33, 42);
        font-family: "SB Sans Text";
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: -0.32px;
        margin-bottom: 12px;
      }

      .informationCarWrapper {
        display: flex;
        justify-content: space-between;
        width: 75%;

        .informationCarMain {
          display: flex;

          img {
            width: 32px;
          }
  
          .informationCarModel {
            display: flex;
            flex-direction: column;
            margin-left: 12px;

            & span:first-child {
              color: rgb(168, 171, 179);
              font-family: "SB Sans Text";
              font-size: 12px;
              font-weight: 400;
              line-height: 15px;
              letter-spacing: 0px;
            }
  
            & span:last-child {
              color: rgb(0, 0, 0);
              font-family: "SB Sans Text";
              font-size: 14px;
              font-weight: 400;
              line-height: 18px;
              letter-spacing: -0.15px;
            }
          }
        }

        .informationCarNumber {
          display: flex;
          flex-direction: column;

          & span:first-child {
            color: rgb(168, 171, 179);
            font-family: "SB Sans Text";
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 0px;
          }

          & span:last-child {
            color: rgb(0, 0, 0);
            font-family: "SB Sans Text";
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: -0.15px;
          }
        }
      }
    }

    .informationDriver {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .informationDriverTitle { 
        color: rgb(33, 33, 42);
        font-family: "SB Sans Text";
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: -0.32px;
        margin-bottom: 12px;
      }

      .informationDriverWrapper {
        display: flex;
        justify-content: space-between;
        width: 82%;

        .informationDriverMain {
          display: flex;
          align-items: center;

          img {
            height: 32px;
            width: 32px;
            border-radius: 50%;
            object-fit: cover;
          }
  
          .informationDriverInfo {
            display: flex;
            flex-direction: column;
            margin-left: 12px;

            .informationDriverInfoPosition {
              color: rgb(168, 171, 179);
              font-family: "SB Sans Text";
              font-size: 12px;
              font-weight: 400;
              line-height: 15px;
              letter-spacing: 0px;
            }
  
            .informationDriverInfoNumber {
              color: rgb(0, 0, 0);
              font-family: "SB Sans Text";
              font-size: 12px;
              font-weight: 400;
              line-height: 18px;
              letter-spacing: 0px;
            }
          }
        }

        .informationDriverNumber {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          & span:first-child {
            color: rgb(168, 171, 179);
            font-family: "SB Sans Text";
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 0px;
          }

          & span:last-child {
            color: rgb(0, 0, 0);
            font-family: "SB Sans Text";
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: -0.15px;
          }
        }
      }
    }

    .informationPassengers {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .informationPassengersList {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        .informationPassengersWrapper {
          display: flex;
          justify-content: space-between;
          width: 48%;
  
          .informationPassengersMain {
            display: flex;
            align-items: center;
  
            img {
              height: 32px;
              width: 32px;
              border-radius: 50%;
              object-fit: cover;
            }
    
            .informationPassengersInfo {
              display: flex;
              flex-direction: column;
              margin-left: 12px;
  
              .informationPassengersInfoName {
  
              }
  
              .informationPassengersInfoPosition {
                color: rgb(168, 171, 179);
                font-family: "SB Sans Text";
                font-size: 12px;
                font-weight: 400;
                line-height: 15px;
                letter-spacing: 0px;
              }
    
              .informationPassengersInfoNumber {
                color: rgb(0, 0, 0);
                font-family: "SB Sans Text";
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0px;
              }
            }
          }
  
          .informationPassengersNumber {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
  
            & span:first-child {
              color: rgb(168, 171, 179);
              font-family: "SB Sans Text";
              font-size: 12px;
              font-weight: 400;
              line-height: 15px;
              letter-spacing: 0px;
            }
  
            & span:last-child {
              color: rgb(0, 0, 0);
              font-family: "SB Sans Text";
              font-size: 14px;
              font-weight: 400;
              line-height: 18px;
              letter-spacing: -0.15px;
            }
          }
        }
      }

      .informationPassengersTitle { 
        color: rgb(33, 33, 42);
        font-family: "SB Sans Text";
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: -0.32px;
        margin-bottom: 12px;
      }
    }
  }
}

.ant-modal-content {

  & > button {
    display: none !important;
  }
}

.footer {

  .footerButton {

    & button:last-child {
      border-radius: 8px !important;
    }
  
    & button:first-child {
      color: rgb(38, 38, 38);
      font-family: "SB Sans Text";
      font-size: 14px;
      font-weight: 600 !important;
      line-height: 22px;
      letter-spacing: -0.3px;
    }
  }

  .footerCost {
    display: flex;
    justify-content: space-between;
    margin: 34px 0px 60px 0px;
    align-items: flex-end;

    & > div {
      width: 50% !important;
    }

    & > div > div > div {
      display: flex;
      justify-content: flex-end;
    }

    & > span {
      color: rgb(0, 0, 0);
      font-family: "SB Sans Text";
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0px;
    }

    .tripInfoCost {

      & > div > div div:first-child {
        font-size: 24px !important;
      }

      & > div > div div:last-child {
        font-size: 24px !important;
        margin-left: 8px !important;
      }
    }
  }
}

.modal {
  width: 461px !important;
  min-width: 461px;
  top: 30vh;

  @media screen and (max-width: 600px) {
    min-width: calc(100vw - 16px) !important;
  }

  & > div > button {
    display: none !important;
  }

  .ant-modal-footer {
    padding: 0;
  }

  .ant-modal-content { 
    .ant-modal-body {
      padding: 24px !important;
    } 
  }

  .header {
    margin-bottom: 20px;
  }
}