.receiptWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  background-color: #F2F3F6;
  width: 335px;

  &:hover {
    cursor: pointer;
  }

  .receiptIcon {
    img {
      width: 42px;
      height: 48px;
    }
  }
  .receiptName {
    color: rgba(38, 38, 38);
    font-family: SB Sans Text;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
  }
}
