.no-input-radio .ant-radio {
  display: none !important;
  height: 0;

  & ~ span {
    display: flex !important;
    flex-direction: row !important;
    flex-flow: column nowrap;
    margin: 3px 0;
    padding: 18px 16px;
    border: 2px solid #eff0f1;
    border-radius: 10px;

    height: 72px;
    overflow: hidden;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
  }

  &.ant-radio-checked ~ span {
    border: 2px solid var(--jade);
    border-radius: 10px;
    width: 100%;
    background: rgba(16, 191, 106, 0.02);
    box-sizing: border-box;
  }
}

.personal-cars {
  .ant-radio-group {
    flex-direction: column !important;
  }
}
