.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;

  :global(.ant-checkbox-wrapper) {
    display: flex;
    align-items: center;
  }

  :global(.ant-checkbox) {
    top: 0;
  }

  :global(.ant-checkbox-inner) {
    width: 18px;
    height: 18px;
    border-radius: 4px;

    &::after {
      left: 4px;
    }
  }

  :global(.ant-checkbox-wrapper + .ant-checkbox-wrapper) {
    margin: 0;
  }

  :global(.ant-checkbox-checked::after) {
    border-radius: 4px;
  }

  :global(.ant-checkbox + span) {
    font-family: SB Sans Interface;
    font-size: 12px;
    line-height: 16px;
    padding: 0 0 0 8px;
  }

  .fuelCheckbox {
    &:global(.ant-checkbox-wrapper:hover .ant-checkbox-inner),
    :global(.ant-checkbox:hover .ant-checkbox-inner),
    :global(.ant-checkbox-input:focus + .ant-checkbox-inner),
    :global(.ant-checkbox-checked::after) {
      border-color: var(--yellow-color);
    }

    :global(.ant-checkbox-checked .ant-checkbox-inner) {
      background-color: var(--yellow-color);
      border-color: var(--yellow-color);
    }
  }

  .contentCheckbox {
    &:global(.ant-checkbox-wrapper:hover .ant-checkbox-inner),
    :global(.ant-checkbox:hover .ant-checkbox-inner),
    :global(.ant-checkbox-input:focus + .ant-checkbox-inner),
    :global(.ant-checkbox-checked::after) {
      border-color: var(--light-yellow);
    }

    :global(.ant-checkbox-checked .ant-checkbox-inner) {
      background-color: var(--light-yellow);
      border-color: var(--light-yellow);
    }
  }
}
