.ant-tooltip-green {
  .ant-tooltip-inner {
    background-color: var(--primary-color) !important;
  }

  .ant-tooltip-arrow-content {
    background-color: var(--primary-color) !important;
  }
}

.ant-timeline-item-head-custom {
  background-color: white;
}
