.delegate_page {
  .ant-list-item {
    padding-left: 0;
    padding-right: 0;
  }

  .ant-btn {
    width: 100%;
    margin-top: var(--margin-half);
  }

  .anticon-search {
    color: var(--link-color);
    margin-right: var(--margin-base);
  }

  .anticon-close {
    color: var(--error-color);
  }

  .ant-list-item-action-split {
    display: none;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.ant-popover-content {
  width: 270px;
}
