.drawerContainer { 
    :global { 
        .ant-drawer-content-wrapper {
            height: auto !important;
        }

        .ant-drawer-content { 
            border-radius: 10px 10px 0 0 !important;
        }

        .ant-drawer-header  {
            display: none !important;
        }

        .ant-drawer-body { 
            padding: 28px 20px 20px !important;
        }
    }
}

.title { 
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.description { 
    font-size: 14px;
    color: rgb(144, 144, 144);
    text-align: center;
}

.alertContainer { 
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
    gap: 20px;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid rgb(179, 222, 255);
    background-color: rgb(230, 244, 255);
    letter-spacing: -0.3px;
}

.alertTitle { 
    color: rgb(77, 77, 77);
    font-size: 14px;
    margin-bottom: 0;
}

.alertIcon {
    max-width: 24px;
    max-height: 24px;
}

.successContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
 }

.successTitle {
    font-weight: 700;
    color: rgb(31, 32, 43);
    font-size: 20px;
    margin-bottom: 0px;
}

.successSubtitle { 
    color: rgb(168, 171, 179);
    font-size: 16px;
    margin-bottom: 0px;
}

.successIcon { 
    padding: 0 0 8px !important;

    :global { 
        .ant-result-icon { 
            margin-bottom: 0 !important;
        }
    }
}

.successExtraTitle { 
    font-weight: 500;
    color: rgb(143, 145, 150);
}