.ndsContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.vatInput {
  width: 100%;
}

.contractsTable {
  :global {
    .ant-table-fixed {
      table-layout: fixed;
    }

    .ant-table-tbody > tr > td {
      word-wrap: break-word;
      word-break: break-all;
    }
  }
}