.ModalDeclineCostRetention {
  display: flex;
  top:0 !important;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 716px !important;
  min-width: 500px;

  .ant-modal-footer {
    padding: 0px 24px 24px 0px;
    text-align: right;
    background: transparent;
    border: none;
    border-radius: 0 0 8px 8px;

    & > button {
      border-radius: 8px;
      width: 110px;
      height: 40px;
    }
  
    & > button:first-child {
      color: rgb(38, 38, 38);
      font-family: SB Sans Text;
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: -0.3px;
      border: none;
      box-shadow: none;
    }
  
    & > button:last-child {
      color: rgb(255, 255, 255);
      font-family: SB Sans Text;
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: -0.3px;
      background: rgb(255, 87, 67);
      border-color: rgb(255, 87, 67);
    }
  }

  .header {
    margin-bottom: 24px;
  }

  & > div > button {
    display: none !important;
  }

  .ant-modal-body {
    padding: 24px 24px 24px 24px !important;
    width: 500px;
  }
}