# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
!__tests__
!__mocks__

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

#maven
/config/maven/*/target
**/pom.xml.versionsBackup
*.iml

# misc
.DS_Store
.env.*.local
.idea/
.vscode/
.gigaide/
.eslintcache
.project
*.http

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json*

build_pass.txt
