.panel {
  .mapContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;
  }

  .contentBlock {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .title {
    font-size: 16px;
    font-weight: 600;
  }

  .dots {
    cursor: grab;
  }
}
