.title {
  font-family: 'SB Sans Interface';
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: #000000;
}

.subtitle {
  font-family: 'SB Sans Text', sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.3px;
  color: #909090;

  margin-top: 10px;
}

.headerDivider {
  background-color: rgba(38, 38, 38, 0.08);
  height: 1px;
  border: none;
  margin: 20px 0 20px -16px;
}
