.ant-modal-content {
  border-radius: 20px !important;
}

.ant-modal-close {
  top: 5px !important;
}

.wrapper {
  padding: 16px 24px;
  margin-bottom: 12px;
  font-family: SB Sans Text, 'serif';
  line-height: 1.24;
  border-radius: 12px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04),0 4px 20px 0 rgba(0, 0, 0, 0.08);
  background: rgb(255, 255, 255);

  .isMobileDirection {
    flex-direction: column;
  }

  .mainInfo {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .mainInfoMobile {
    height: auto;
  }

  .addressWrapper {
    flex: 4;
  }

  .selectWrapper {
    flex: 1;
  }

  .controlsWrapper {
    flex: 2;
  }
}
