.modal {
  width: 500px !important;
  max-width: 100%;
  border-radius: 12px;
  overflow: hidden;

  :global(.ant-modal-content) {
    border-radius: 12px;
  }

  :global(.ant-modal-body) {
    padding-top: 0;
    padding-bottom: 5px;
  }

  :global(.ant-modal-header),
  :global(.ant-modal-footer) {
    border: none;
  }

  :global(.ant-modal-title) {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
  }

  .cancelButton {
    border-color: transparent;
  }

  :global(.ant-btn) {
    border-radius: 8px;
    padding: 0 20px;
    height: 40px;
  }

  :global(.ant-form-item-label) {
    text-align: left;
    width: 100%;

    label {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      display: block;
      &::after {
        content: '';
      }
    }
  }

  .subtitle {
    margin-bottom: 20px;
  }
}
